{% extends 'admin/base_admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="wrapper container">
        <div class="row">
            <div class="col-lg-12">
            <h2 class="heading">Stats</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat red" href="#">
                <div class="visual">
                <i class="fa fa-usd"></i>
                </div>
                <div class="details">
                <div class="number">
                    <span>{{ totalSearch }}</span>
                </div>
                <div class="desc">Total Recherches</div>
                </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat blue" href="#">
                <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                <div class="number">
                    <span>{{ totalMonth }}</span>
                </div>
                <div class="desc">Total ce mois</div>
                </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat hoki" href="#">
                <div class="visual">
                <i class="fa fa-credit-card"></i>
                </div>
                <div class="details">
                <div class="number">
                    <span>{{ mostFrequentCity[0]['user_city'] }}</span>
                </div>
                <div class="desc">Ville la plus recherchée</div>
                </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat purple" href="#">
                <div class="visual">
                <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                <div class="number">
                    <span>{{ totalReview }}</span>
                </div>
                <div class="desc">Avis</div>
                </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat purple" href="#">
                <div class="visual">
                <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                <div class="number">
                    <span>{{ mostFrequentCategory[0]['categoryName'] }}</span>
                </div>
                <div class="desc">Catégorie la plus recherchée</div>
                </div>
            </a>
            </div>
        </div>
    </div>

{% endblock %}