{% extends "front/layout/layout.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <section id="login" class="min-h-screen h-100">
        <div class="loginContainer">
            <div class="loginHeader">
                <div class="loginIconContainer">
                    <i class="fa-solid fa-house"></i>
                </div>
            </div>
            <div class="loginForm">
                <form action="{{ path('app_login') }}" method="post">
                    <div class="loginContent">
                        <div class="flex justify-center w-full">
                            <h5>Connexion</h5>
                        </div>
                        <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                            Email
                        </label>
                        <input class="w-full" type="text" id="email" name="_username" value="{{ last_username }}" placeholder="my@gmail.com">
                        </div>
                        <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            Mot de passe
                        </label>
                        <input class="w-full" type="password" id="password" name="_password" placeholder="*********">
                        </div>
                        <div class="flex items-center justify-center">
                        <button class="btn btn-primary btn-block fa-lg mb-3" type="submit" >Connexion</button>
                        {# <a class="text-muted" href="#!">Mot de passe oublié ?</a> #}
                        </div>
                        {# <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Nouveau sur VMB ?</p>
                            <a href="{{ path('app_register') }}">
                                <button type="button" class="btn btn-outline-success">GO</button>
                            </a>
                        </div> #}
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
            <div class="loginFooter">
            </div>
        </div>
        {# <div class="w-full max-w-xs">
            <form action="{{ path('app_login') }}" method="post">
                <div class="loginHeader">
                    <div class="loginIconContainer">
                        <i class="fa-solid fa-house"></i>
                    </div>
                </div>
                <div class="loginContent">
                    <div class="flex justify-center w-full">
                        <h5>Connexion</h5>
                    </div>
                    <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                        Email
                    </label>
                    <input class="w-full" type="text" id="email" name="_username" value="{{ last_username }}" placeholder="my@gmail.com">
                    </div>
                    <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        Mot de passe
                    </label>
                    <input class="w-full" type="password" id="password" name="_password" placeholder="*********">
                    </div>
                    <div class="flex items-center justify-between">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" >Connexion</button>
                    <a class="text-muted" href="#!">Mot de passe oublié ?</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Nouveau sur VMB ?</p>
                        <a href="{{ path('app_register') }}">
                            <button type="button" class="btn btn-outline-success">GO</button>
                        </a>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
            <p class="text-center text-gray-500 text-xs">
                &copy;2020 Acme Corp. All rights reserved.
            </p>
        </div> #}
    </section>
{% endblock %}