{% extends "front/layout/layout.html.twig" %}

{% block body %}
    <section id="home" >
        <div class="main-section">
            <div class="main-img">
                <img src="{{ asset('build/images/home/main.png') }}" alt="image accueil vite ma bouffe">
            </div>
            <div class="main-btn">
                {# <button class="py-2 px-4 rounded inline-flex items-center">
                    Rechercher un lieu
                    <i class="fa-solid fa-chevron-right"></i>
                </button> #}
                <!-- Modal toggle -->
                <button data-modal-target="staticModal" data-modal-toggle="staticModal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    Rechercher un lieu
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            {% if app.user %}
            <div class="second-btn">
                <button data-modal-target="staticModal" data-modal-toggle="staticModal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    Rechercher avec mes adresses
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            {% endif %}
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#2A9D8F;"></path>
            </svg>
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#D9D9D9;"></path>
            </svg>
        </div>
        <div class="main-logo">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <img src="{{ asset('build/images/logos/logo-noir.svg') }}" alt="logo vite ma bouffe">
        </div>
    </section>

    <!-- Main modal -->
    <div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div id="closeModal" class="flex items-start justify-between p-4 rounded-t dark:border-gray-600">
                <button data-modal-hide="staticModal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close menu</span>
                </button>
            </div>
        <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative">
                <div class="modalInput w-100">
                    {{ form_start(searchForm)}}
                        {# <label for="find_place" class="invisible"></label>
                        <input type="text" id="find_place" class="w-full p-2.5" placeholder="Rechercher un lieu" required><i class="fa-solid fa-magnifying-glass"></i> #}
                        <div class="mb-3" {{ stimulus_controller('google-place', {'page' : 'home', 'form': 'search_restaurant' }) }}>
                            <div class="searchInput">
                                <label class="form-label" for="searchBarAutocomplete"></label>
                                <input  type="text"
                                        id="searchBarAutocomplete"
                                        aria-label="Adresse"
                                        class="form-control">
                                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                        {{ form_row(searchForm.coordinates) }}
                        <br>
                        {{ form_widget(searchForm.category, {'attr': {'class': 'searchInputCategory'}, 'placeholder' : 'Chercher par catégorie'}) }}
                        <button class="mt-16" type="submit">Rechercher</button>
                    {{ form_end(searchForm) }}
                </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    {# <button data-modal-hide="staticModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Fermer</button> #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}