{% extends "front/layout/layout.html.twig" %}

{% block body %}
    {% set maxNote = 5 %}
    {% set filledStarIcon = '<i class="text-[#FFD700] fa-solid fa-star"></i>' %}
    {% set halfStarIcon = '<i class="text-[#FFD700] fa-solid fa-star-half-stroke"></i>' %}
    {% set emptyStarIcon = '<i class="text-[#FFD700] fa-regular fa-star"></i>' %}

    <section class="background-radial-gradient mb-32 pt-[80px]">
        <style>
            .background-radial-gradient {
                background-color: hsl(218, 41%, 15%);
                background-image: radial-gradient(650px circle at 0% 0%,
                    hsl(218, 41%, 35%) 15%,
                    hsl(218, 41%, 30%) 35%,
                    hsl(218, 41%, 20%) 75%,
                    hsl(218, 41%, 19%) 80%,
                    transparent 100%),
                radial-gradient(1250px circle at 100% 100%,
                    hsl(218, 41%, 45%) 15%,
                    hsl(218, 41%, 30%) 35%,
                    hsl(218, 41%, 20%) 75%,
                    hsl(218, 41%, 19%) 80%,
                    transparent 100%);
            }
        </style>

        <div class="px-6 py-12 text-center md:px-12 lg:text-left">
            <div class="container mx-auto">
                <div class="grid items-center gap-12 {% if shops[0].image %}lg:grid-cols-2{% endif %}">
                    <div class="mt-12 lg:mt-0">
                        <h1 class="mb-12 text-5xl font-bold tracking-tight text-[hsl(218,81%,95%)] md:text-6xl xl:text-7xl">
                            <span class="text-[hsl(218,81%,75%)]">Votre sélection :</span>
                        </h1>
                        <h1 class="mb-6 text-5xl font-bold tracking-tight text-[hsl(218,81%,95%)] md:text-6xl xl:text-7xl">
                            {{ shops[0].name }}
                        </h1>
                        <p class="text-md text-blue-200 mb-4">
                            {% for category in shops[0].getCategory %}
                                {{category.name}} 
                            {% endfor %}
                        </p>
                        <p class="text-lg text-[hsl(218,81%,95%)]">
                            {{ shops[0].description }}
                        </p>
                        <div class="flex items-center mb-5">

                            {% if shops[0].getReviews|length != 0 %}
                                {% set reviews = shops[0].getReviews %}
                                {% set totalReviews = reviews|length %}
                                {% set totalScore = reviews|reduce((accumulator, review) => accumulator + review.note, 0) %}
                                {% set averageScore = totalScore / totalReviews %}

                                {% for i in 0.5..maxNote %}
                                    {% if i <= averageScore %}
                                        {% if i == averageScore and averageScore|round(0, 'floor') != averageScore %}
                                            {{ halfStarIcon|raw }}
                                        {% else %}
                                            {{ filledStarIcon|raw }}
                                        {% endif %}
                                    {% else %}
                                        {{ emptyStarIcon|raw }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p class="text-sm text-gray-300">Cet établisement n'a pas encore d'avis.</p>
                            {% endif %}

                        </div>
                        <a role="button" class="text-md text-blue-600 hover:text-blue-400" data-te-toggle="modal" data-te-target="#modal_{{shops[0].id}}">
                            Voir les reviews
                        </a>
                        {% if shops[0].website %}
                        <a href="http://{{ shops[0].website }}" data-te-ripple-init data-te-ripple-color="light"
                        class="inline-block rounded-full bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Site web</a>
                        {% endif %}
                        <p class="text-sm text-[hsl(218,81%,95%)] mt-3">
                            {{ shops[0].phone }}
                        </p>
                    </div>
                    {% if shops[0].image %}
                    <div class="mb-12 lg:mb-0">
                        <div class="embed-responsive embed-responsive-16by9 relative overflow-hidden rounded-lg shadow-lg"
                        style="padding-top: 56.25%">
                        
                            <img src="/uploads/shop_image/{{ shops[0].image }}" alt="" class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 h-full w-full object-cover">                        
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ include('components/reviews/_modal.html.twig', {
            modalTitle: 'Reviews de ' ~ shops[0].name,
            modalTarget: 'modal_' ~ shops[0].id,
            turboSrc: path('app_modal_reviews', { 'id' : shops[0].id }),
            turboId: 'reviews' ,
        }) }}
    </section>

    <div class="container my-24 mx-auto md:px-6">
        <section class="mb-32 text-center">
            <h2 class="mb-12 pb-4 text-center text-3xl font-bold">
                Plus de suggestions
            </h2>

            <div class="grid gap-32 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:gap-x-12">
                {% for shop in shops | slice(1,7) %}
                <div class="mb-6 lg:mb-0">
                    <div
                    class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <div class="flex">
                        <div
                        class="relative mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
                        data-te-ripple-init data-te-ripple-color="light">
                        {% if shop.image %}
                            <img src="uploads/shop_image/{{ shop.image }}" class="w-full" />
                        {% endif %}
                        </div>
                    </div>
                    <div class="p-6">
                        <h5 class="mb-3 text-lg font-bold">{{ shop.name }}</h5>
                        <p class="text-md text-blue-200 mb-4">
                            {% for category in shop.getCategory %}
                                {{category.name}} 
                            {% endfor %}
                        </p>
                        <div class="flex items-center justify-center mb-5">
                            {% if shop.getReviews|length != 0 %}
                                {% set reviews = shop.getReviews %}
                                {% set totalReviews = reviews|length %}
                                {% set totalScore = reviews|reduce((accumulator, review) => accumulator + review.note, 0) %}
                                {% set averageScore = totalScore / totalReviews %}

                                {% for i in 0.5..maxNote %}
                                    {% if i <= averageScore %}
                                        {% if i == averageScore and averageScore|round(0, 'floor') != averageScore %}
                                            {{ halfStarIcon|raw }}
                                        {% else %}
                                            {{ filledStarIcon|raw }}
                                        {% endif %}
                                    {% else %}
                                        {{ emptyStarIcon|raw }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p class="text-sm text-gray-300">Cet établisement n'a pas encore d'avis.</p>
                            {% endif %}
                        </div>
                        <a role="button" class="text-md text-blue-600 hover:text-blue-400" data-te-toggle="modal" data-te-target="#modal_{{shop.id}}" data-te-ripple-init data-te-ripple-color="light">
                            Voir les reviews
                        </a>
                        <p class="mb-4 text-neutral-500 dark:text-neutral-300">
                        <small><u><a href="tel:{{ shop.phone }}">{{ shop.phone }}</a></u></small>
                        </p>
                        {% if shop.description %}
                        <p class="mb-4 pb-2">
                            {{ shop.description }}
                        </p>
                        {% endif %}
                        {% if shop.website %}
                        <a href="http://{{ shop.website }}" data-te-ripple-init data-te-ripple-color="light"
                        class="inline-block rounded-full bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Site web</a>
                        {% endif %}
                    </div>
                    </div>
                </div>
                {{ include('components/reviews/_modal.html.twig', {
                    modalTitle: 'Reviews de ' ~ shop.name,
                    modalTarget: 'modal_' ~ shop.id,
                    turboSrc: path('app_modal_reviews', { 'id' : shop.id }),
                    turboId: 'reviews' ,
                }) }}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}