{% extends "front/layout/layout.html.twig" %}

{% block title %}- Profil{% endblock %}

{% block body %}
    <div class="pt-32 mb-4 flex flex-wrap justify-center text-color-tertiary">
        <div class="m-w-full overflow-hidden">
            <div class="w-full flex flex-wrap mb-6 justify-center md:justify-start">
                <a class="relative overflow-hidden" href="{{ path('app_account_avatar') }}">
                    <img role="button" class="rounded-full w-32 h-32 object-cover" 
                    {% if app.user.avatar %}
                        src="/uploads/avatar/{{ app.user.avatar }}"
                    {% else %}
                        src="/build/images/default-avatar.png"
                    {% endif %}
                    alt="user_avatar">
                    
                    <div class="w-full h-full absolute bg-gray-200 top-0 left-0 rounded-full opacity-0 hover:opacity-70 flex justify-center items-center ease-in-out duration-75">
                        <i class="bi bi-gear-fill text-4xl text-color-white"></i>
                    </div>
                </a>
                <div class="ml-6 flex flex-col justify-center">
                    <p class="text-xl text-color-primary font-bold" >{{ app.user.login }}</p>
                    <p>{{ app.user.email }}</p>
                </div>
            </div>

            <nav class="w-full whitespace-nowrap scrollbar-hide text-color-secondary flex gap-2">
                <a href="{{ path('app_account') }}" class="font-bold px-3 py-2 rounded-lg hover-color-primary">Accueil</a>
                <a href="{{ path('app_account_address') }}" class="font-bold px-3 py-2 rounded-lg hover-color-primary">Mes adresses</a>
                <a href="{{ path('app_account_password' )}}" class="font-bold px-3 py-2 rounded-lg hover-color-primary">Modifier mot de passe</a>
            </nav>
        </div>
    </div>
    <hr class="h-px border-0 theme-tertiary">
    <div class="mt-6 md:mt-12 mb-4 p-4 flex flex-wrap justify-center md:px-32 lg:px-48 text-color-primary">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
