{% extends 'front/user/index.html.twig' %}

{% block title %}- Modifier mon mot de passe{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="block max-w-sm rounded-lg p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] theme-secondary text-color-primary">

            <div class="flex flex-row flex-wrap text-center">

                <h2 class="w-full mb-8 text-lg font-bold">Modifier mon mot de passe</h2>

                {# <!-- Old Password input-->
                {{ include('/components/form/form_field.html.twig', { 'size' : 'full','form_widget' : form_widget(form.oldPassword), 'field_id' : 'register_oldPassword', 'label' : 'Mot de passe actuel' , 'form_errors' : form_errors(form.oldPassword) }) }} #}

                <!--New Password input-->
                {{ include('/components/form/form_field.html.twig', { 'size' : 'full','form_widget' : form_widget(form.password.first), 'field_id' : 'register_password_first', 'label' : 'Nouveau mot de passe' , 'form_errors' : form_errors(form.password.first) }) }}

                <!--New Password Repeat input-->
                {{ include('/components/form/form_field.html.twig', { 'size' : 'full','form_widget' : form_widget(form.password.second), 'field_id' : 'register_plainPassword_second', 'label' : 'Confirmer le nouveau mot de passe' , 'form_errors' : form_errors(form.password.second) }) }}

                <!--Submit button-->
                <div class="w-full text-center">
                    <button type="submit" class="h-10 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-full text-sm px-6 py-2.5 text-center inline-block"
                    data-te-ripple-init 
                    data-te-ripple-color="light">
                        Modifier mon mot de passe
                    </button>
                </div>
                
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
